ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.App {
    align-items: center;
    width: 100%;
}

.Body {
    width: 800px;
    padding-bottom: 100px;
}

.App-logo {
    width: 252px;
    height: 46px;
    margin: 6px 8px 8px 0;
}

.App-header {
    min-width: 1080px;
    width: 80%;
    height: 60px;
    padding: 0 10%;

    box-shadow: 0 5px 10px 0 rgba(154, 154, 154, 0.16);
    background-color: #ffffff;
}


