.Comment-body {
    width: 748px;
    height: auto;
    margin: 13px 0 0 0 ;
    padding: 26px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0 rgba(154, 154, 154, 0.15);
    background-color: #ffffff;
    display: inline-block;
}

.New-comment {
    height: 26px;
}


.Comment-text-input {
    width: 664px;
    height: 22px;
    padding-left: 5px;
    border-radius: 5px;
    border: solid 1px #c5c5c5;
    background-color: #f7f9fa;
    float: left;
}

.Comment-button {
    width: 28px;
    height: 21px;
    margin: 0 0 0 5px;
    padding: 3px 14px 2px;
    border-radius: 5px;
    background-color: #3b4979;
    float: left;
}

.Comment-button-text {
    width: 28px;
    height: 21px;
    font-family: NotoSansCJKKR;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Comment-table {
    margin-top: 25px;
}

.Comment-table-top {
    padding: 0 0 9.5px 5.5px;
    font-family: NotoSansCJKKR;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    border-bottom-style: solid;
    border-bottom-color: #707070;
    border-bottom-width: 1px;
}
